/* 
#f1592a
#3f2820
#e5a6cb
#f27732
*/
:root{
    --rosa: #e5a6cb;
    --cafe-claro: #f1592a;
    --cafe-fuerte: #3f2820;
    --carne:#f27732;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--rosa)
}
h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 30px;
}
a{
    color:#3f2820; 
}

/* ---HEADER--- */

.header{
    background-color:var(--carne);
    
    height: 150px;
    width: 100%;
    padding: 10px;
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-areas: 
    "header-logo header-buscar header-menu"
}

.header-logo{
    grid-area: header-logo;
    
}
.header-buscar{
    align-self: center;
    grid-area: header-buscar;
    display: grid;
    display: none;
}
.header-menu{
    grid-area: header-menu;
    display: flex;
    align-self: center;
    text-decoration: none;
    list-style: none;
    width: 400px;
    justify-content: space-around;
    padding: 0px;
    margin: 0;  
}
.header-menu a{
    
    font-size: 40px;
    text-decoration: none;
    background: var(--rosa);
    padding: 10px;
    border-radius: 5px;
}
.logo{
    width: 80px;
    
    align-self: center;
}
.logo-negrin{
    width: 500px;
}
.logo-negrin-2{
    width: 200px;
}

/* ---CONTAINER--- */

.container{
    /* background-image: url('../images/tienda.jpg'); */
    background-size: cover;
    background-position-y: -100px;      
    margin: 0 100px;
    background-color: none;
    display: grid;
    padding: 20px;
    grid-gap: 20px;
    grid-template-areas: 
    "hero         hero         hero"
    "enlaces      enlaces      promos"
    "enlaces      enlaces      promos"
    "enlaces      enlaces      promos"
    "nosotros     nosotros     nosotros ";
}
.hero{
    padding: 20px;
    grid-area: hero;
    text-align: end;
    color: var(--cafe-fuerte);
    background: rgba(28,28,28,0);
    background: -moz-linear-gradient(left, rgba(28,28,28,0) 0%, rgba(43,43,43,0) 0%, rgba(19,19,19,0) 0%, rgba(90,90,90,0) 30%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28,28,28,0)), color-stop(0%, rgba(43,43,43,0)), color-stop(0%, rgba(19,19,19,0)), color-stop(30%, rgba(90,90,90,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(28,28,28,0) 0%, rgba(43,43,43,0) 0%, rgba(19,19,19,0) 0%, rgba(90,90,90,0) 30%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(28,28,28,0) 0%, rgba(43,43,43,0) 0%, rgba(19,19,19,0) 0%, rgba(90,90,90,0) 30%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(28,28,28,0) 0%, rgba(43,43,43,0) 0%, rgba(19,19,19,0) 0%, rgba(90,90,90,0) 30%, rgba(255,255,255,1) 100%);
}

.titulo{
    display: none;
    /* grid-area: titulo; */
    
    
}
.enlaces{
    grid-area: enlaces;

}
.enlace{ 
    margin: 20px;
    background-color: var(--carne);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 900px;
    border-radius: 5px;
}
.enlace.general{
    background: none;
}
.enlace a{
    display: flex;
    height: 200px;
    width: inherit;
    justify-content: space-between;
    text-decoration: none;
}

.promos{
    grid-area: promos;
    
    width: 300px;
    
    display: grid;
    grid-gap: 20px;
}
.promo{
    background-color:var(--rosa) ;
    padding: 10px;
}
.nosotros{
    grid-area: nosotros;
    display: grid;
    grid-gap: 10px;
    background-color:var(--rosa);
    padding: 20px;
}

/* ---FOOTER--- */


.footer{
    /* height: 300px; */
    width: 100%;
    background: var(--carne);
    width: 100%;
    padding: 10px;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-areas: 
    ".            footer-contacto ."
    ". footer-terminos ."
    " .          footer-creditos  footer-logo "
}
.footer-logo{
    grid-area: footer-logo;
}
.footer-creditos{
    grid-area: footer-creditos;
}
.footer-terminos{
    grid-area: footer-terminos;
}
.footer-contacto{
    grid-area: footer-contacto;
    display: flex;
    grid-area: footer-contacto;
    list-style: none;
    
    background: none ;
    margin: 0;
    padding: 10px;
    text-align: center;
}


