@media only screen and (min-width: 200px) {

    
    body{
        background: blue;
    }

    h1{
        font-size: 30px;
    }
    h3{
        font-size: 25px
    }
    p{
        font-size: 20px
    }

    /* header */
    .header{
    padding: 10px;
    display: inline;
    text-align: center;
    }

    .logo-negrin{
    width: 90%;
    }
    
    .header-menu{
        margin: 0 auto;
    
    }
    .header-buscar{
        display: none;
    }

    /* container */


    .container{
        width: 100%;
        height: inherit;
        margin: 0;
        padding: 0;
        display: inline;
    }
    .busca-face{
        width: 90%;
        margin: 0 auto;
        display: inline;
    }
    .busca-google{
        display: inline;
    }
    .logo{
        width: 50px;
    }
    .promos{
        padding: 0;
        margin: 0 auto;
        width: auto;
    }

    /* footer */

    .footer{
        display: inline;
    }
    .footer-contacto{
        display: inline;
    }
}